<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-label style="font-weight: 700; font-size: 1.2em" (click)="solicitarNomeUser()">
        {{mensagemDeSaudacao()}}{{nomeUser}}
        <p>
          {{diaSemanaTratado()}} - {{dia}}/{{mes}}/{{ano}}
        </p>
      </ion-label>
    </ion-item>
  </ion-toolbar>
  <ion-searchbar [(ngModel)]="valorDaBusca" placeholder="Busca" animated="true" autocomplete="on" mode="ios" type="text">

  </ion-searchbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-item-sliding *ngFor="let x of listaDeTarefas; let i=index;">

  <ion-item (click)="aleterarStatus(x)">
    <ion-label *ngIf="x.status == false">{{x.tarefa}}</ion-label>
    <ion-label *ngIf="x.status == true">{{x.tarefa}}</ion-label>
    <ion-icon slot="start" name="radio-button-off" *ngIf="x.status == false"></ion-icon>
    <ion-icon slot="start" name="radio-button-on" *ngIf="x.status == true"></ion-icon>
  </ion-item>


    <ion-item-options side="end">
      <ion-item-option color="dark" (click)="apagar(x)">Apagar</ion-item-option>
    </ion-item-options>

    <ion-item-options side="start">
      <ion-item-option color="dark" (click)="editar(i)">Editar</ion-item-option>
    </ion-item-options>
    

  </ion-item-sliding>

  <ion-card *ngIf="listaDeTarefas.length == 0">
    <ion-card-header>
      <ion-card-title>Sem tarefas</ion-card-title>
      <ion-card-subtitle>Clique no botão + para começar a se planejar</ion-card-subtitle>
    </ion-card-header>
  </ion-card>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark" (click)="mostrarRotinaAdicao()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>